<!DOCTYPE html>
<html lange="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>SPM dashboard page</title>
        <style>
            .alert {
                padding: 10px;
                margin-bottom: 15px;
                border-radius: 5px;
            }
            .alert-success {
                background-color: #d4edda;
                color: #155724;
            }
            .alert-error {
                background-color: #f8d7da;
                color: #721c24;
            }
        </style>
    </head>
    <body>
        <h1>Welcome SPM {{ spm.name }}</h1>
        <h2>Assigned tasks</h2>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Assigned at</th>
                <th>Assigned by</th>
                <th>Status</th>
                <th>Mark as complete</th>
            </tr>
        {% for task in tasks%}
            <tr> 
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.created_at}}</td>
                <td>{{task.created_by.name}}</td>
                <td>{{task.status}}</td>
                <td>
                    <form action="{% url 'toggle_spm_task_checkbox' task.id %}" method="POST" >
                    {% csrf_token %}
                        <input type="checkbox" name="task_status" onchange="this.form.submit()" {% if task.status == "Completed" %}checked{% endif %}>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr >
                <td colspan="6">No tasks assigned to you</td>
            </tr>
        
        {%endfor%}
    </table>

    {% if messages %}
        {% for message in messages%}
            <div class="alert alert-{{ message.tags }}">
                <p>{{ message }}</p>
            </div>
        {%endfor%}
    {% endif %}
    
    <h2>Create a new role?</h2>
    <form method="POST" action="{% url 'spm_role_creation' spm.spm_id %}">
        {% csrf_token %}
        <label for="name">Employee Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="role">Select role:</label>
        <select id="role" name="role" required>
            <option value="senior_dev">SeniorDeveloper</option>
            <option value="intern">Intern</option>
            <option value="uiux_designer">UI/UX Designer</option>
            <option value="dev_ops">DevOps Engineer</option>
            <option value="network">Network Engineer</option>
        </select><br>
        <label for="password1">Enter password:</label>
        <input type="password" id="password1" name="password1" required><br>
        <label for="password2">Confirm-password:</label>
        <input type="password" id="password2" name="password2" required><br>
        <button type="submit">Create Role</button>
    </form>
        <table border="1">
            <tr>
                <th>Emp Id</th>
                <th>Emp Name</th>
                <th>Emp Role</th>
                <th>Profile</th>
            </tr>
            {% for emp in emps%}
            <tr>
                <td>{{ emp.emp_id }}</td>
                <td>{{ emp.name }}</td>
                <td>{{ emp.role }}</td>
                <td><a href="{% url 'spm_assign_task_emp' emp.emp_id %}">Assign Task</a></td>
            </tr>
            {% empty %}
            <tr >
                <td colspan="4">No employees created yet</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>