<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Employee Login Page</title>
    </head>
    <body>
        <h2>Login as a {{ role }}</h2>
        <form method="POST" action="{% url 'emp_login' role %}">
            {% csrf_token %}
            <label for="company">Company:</label>
            <input type="text" id="company" name="company">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            
            <button type="submit">Login</button>
        </form>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}<p>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>